# Node dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist
build
.turbo

# Storage & Temporary Files
.storage
uploads
tmp
*.log
*.zip

# Prisma generated
packages/db/src/generated

# OS files
.DS_Store
Thumbs.db
